<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Alzheimer Prediction</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
  </head>
  
  <body style="background-color: #B9A896;">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-start" style="font-size: 80px; font-weight: bold;" >Alzheimer Classification</p>
            </div>
            <div class="col">
                <img src="static/images/iconOtak.png" class="rounded float-right" width="200px" height="200px" >
            </div>
        </div>
        

    </div>
     

    <form class="p-3 text-center" action="/" method="post" enctype="multipart/form-data" name="image-form">
      <input class="form-control" type="file" name="imagefile" />
      <button class="btn btn-primary btnKirim mt-4" type="submit">Predict Image</button>
    </form>

    {% if prediction %}
    <div class="d-flex flex-column align-items-center">
      <img class="" src="{{ url_for('static', filename='/images/temp.png') }}" alt="" style="width: 300px; height: 300px" />
      <div class="" style="width: 300px; height: 300px">
        <div class="row">
          <div class="col text-start">Prediction</div>
          <div class="col text-start">:{{prediction}}</div>
        </div>
        <div class="row">
          <div class="col text-start">Score</div>
          <div class="col text-start">:{{skor}}%</div>
        </div>
      </div>
    </div>

    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>